@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2e2c;
}

.questionButton {
  padding: 20px;
  margin-top: 30px;
  width: 350px;
  height: 150px;
  background-color: #55848b;
  color: #cbf8ff;
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.answerContainer {
  text-align: center;
  .yesAnswer {
    color: #feb000;
  }
  .noAnswer {
    color: #e01e02;
  }
}
